/*  
    Add background image and set the container div. 
    - The goal here is a background image on a website that covers the entire browser window at all times.
*/

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*
    The container holds all objects in this page. for that I use flex display. 
*/

.container {
    width: 50%;
    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.6;
    padding: 5px;
    z-index: 100;

    border-radius: 10px;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*
    Header specify fieldset header style
*/

.header {
    position: relative;
    color: darkblue;
    font-weight: 500;
    font-size: 30px;
}

/* 
    form card width
*/
.card {
    width: 40%;
}

/*
    fieldset styles
*/

.fieldset {
    padding: 10px;
    border-radius: 10px;
}

/*
    All Buttons unic style
*/
.button {
    width: 120px;
    height: 25px;
    text-align: center;
    margin: 5px;
    background-color:  darkblue;
    color: white;
    border-radius: 10px;
}

/*
    saved Answer section style
*/

.saved_card {
    display: none;
}
  